/* @font-face {
  font-family: 'LatoCustom';
  src: url('/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-lato {
  font-family: 'LatoCustom', sans-serif;
} */

@font-face {
    font-family: OswaldCustom;
    src: url('/fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-oswald {
    font-family: 'OswaldCustom', sans-serif;
}
