@import "tailwindcss";

@theme {
  --color-bg-alt-2: #fafaf5;
  --color-bg-alt: #f7f7f2;
  --color-bg: #f7f2de;
  --color-fg: #0f120e;
  --color-accent: #375338;
  --color-accent-alt: #37313f;
  --color-accent-alt-2: #2f3d4d;

  --circle-size: 1500px;
  --blending-mode: hard-light;
  --color-accent-x: 55, 83, 56;
  --color-accent-alt-x: 55, 49, 63;
  --color-accent-alt-2-x: 47, 61, 77;

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --noise: url("/ui/noise.svg");

  --font-serif: var(--font-playfair);

  --animate-spin-slow: spin 3s linear infinite;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-fg/25, currentColor);
  }
}

html {
  @apply h-full w-full;
}

body {
  @apply text-fg flex flex-col w-full;
}

.c-container {
  width: 100%;
  height: fit;
  position: relative;
  top: 0;
  overflow: clip;
  background: linear-gradient(
    45deg,
    rgba(var(--color-accent-x), 1),
    rgba(var(--color-accent-alt-x), 1),
    rgba(var(--color-accent-alt-2-x), 1)
  );
  opacity: 1;
}

.noise::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: url(#noise) brightness(0.25);
  opacity: 0.25;
}

.c-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: url(#noise);
  opacity: 0.25;
  z-index: 1;
}

.c-container-2 {
  filter: url(#goo) blur(50px);
}

@keyframes moveVertical {
  0% {
    transform: translateY(-75vh);
  }
  50% {
    transform: translateY(75vh);
  }
  100% {
    transform: translateY(-75vh);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-75vw);
  }
  50% {
    transform: translateX(75vw);
  }
  100% {
    transform: translateX(-75vw);
  }
}

@keyframes moveDiagonal {
  0% {
    transform: translate(-50vw, -50vh);
  }
  50% {
    transform: translate(50vw, 50vh);
  }
  100% {
    transform: translate(-50vw, -50vh);
  }
}

.c1,
.c2,
.c3,
.c4,
.c5,
.c6 {
  position: absolute;
  width: var(--circle-size);
  height: var(--circle-size);
  opacity: 1;
  transform-origin: center center;
}

.c1 {
  top: 0;
  left: 0;
  translate: -40% -30%;
  background: radial-gradient(
      circle at center,
      rgba(var(--color-accent-alt-x), 0.8),
      rgba(var(--color-accent-alt-x), 0) 50%
    )
    no-repeat;
  animation: moveVertical 10s reverse infinite;
}

.c2 {
  top: 0%;
  left: 0%;
  background: radial-gradient(
      circle at center,
      rgba(var(--color-accent-alt-2-x), 0.8),
      rgba(var(--color-accent-alt-2-x), 0) 50%
    )
    no-repeat;
  animation: moveHorizontal 12s reverse infinite;
}

.c3 {
  top: 0%;
  left: 30%;
  translate: -30% -30%;
  background: radial-gradient(
      circle at center,
      rgba(var(--color-accent-x), 0.8),
      rgba(var(--color-accent-x), 0) 50%
    )
    no-repeat;
  animation: moveDiagonal 15s infinite;
}

.c4 {
  left: 0%;
  translate: 0% -30%;
  background: radial-gradient(
      circle at center,
      rgba(var(--color-accent-alt-2-x), 0.8),
      rgba(var(--color-accent-alt-2-x), 0) 50%
    )
    no-repeat;
  animation: moveVertical 10s infinite;
}

.c5 {
  top: 0;
  left: 40%;
  background: radial-gradient(
      circle at center,
      rgba(var(--color-accent-alt-x), 0.8),
      rgba(var(--color-accent-alt-x), 0) 50%
    )
    no-repeat;
  animation: moveVertical 18s infinite;
}

.c6 {
  top: 50%;
  left: 0;
  translate: 0% -50%;
  background: radial-gradient(
      circle at center,
      rgba(var(--color-accent-x), 0.8),
      rgba(var(--color-accent-x), 0) 50%
    )
    no-repeat;
  animation: moveHorizontal 14s reverse infinite;
}

.c7 {
  left: 0%;
  translate: 0% -30%;
  background: radial-gradient(
      circle at center,
      rgba(var(--color-accent-alt-2-x), 0.8),
      rgba(var(--color-accent-alt-2-x), 0) 50%
    )
    no-repeat;
  animation: moveDiagonal 30s infinite;
}

.c8 {
  top: 0;
  left: 0;
  translate: -40% -30%;
  background: radial-gradient(
      circle at center,
      rgba(var(--color-accent-alt-x), 0.8),
      rgba(var(--color-accent-alt-x), 0) 50%
    )
    no-repeat;
  animation: moveDiagonal 25s infinite;
}
